html {
  font-family: Arial, Helvetica, sans-serif;
}

td.name {
  font-weight: bold;
}

.btn {
  padding: 5px 10px;
  border: 0;
  appearance: none;
  cursor: pointer;
  border-radius: 100px;
}

.btn-delete {
  background-color: red;
  color: white;
}

#title {
  transition: color 0.3s;
}

#title.animated {
  color: red;
}